.header{
    width: 100%;
    height: 400px;

    background-image: url('../../public/images/castillo_disney.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: 30%;

}

