.header{
    height: 400px;

    background-image: url('../../public/images/castillo_disney.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;

    @media (min-width: 768px){
        background-size: 100% auto;
    }


}

